<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:4000/files" method="post" enctype="multipart/form-data">
        <input type="file" name="avatar" multiple accept="image/*"/>
        <input type="file" name="docs" multiple accept="image/*"/>
        <input type="file" name="video" multiple accept="image/*"/>
        <button type="submit">submit</button>
    </form>

    <img src="https://test-uploader.ap-south-1.linodeobjects.com/test-uploader/RAsel%20Hossain.jpg"/>
</body>
</html>